node_modules/
build/
public/
coverage/
examples/*/package-lock.json
packages/*/package-lock.json

.cache/
.DS_Store

# Log files
lerna-debug.log

# Environment Variables
.env
.env.production

# Vercel CLI
.vercel
