node_modules/
build/
public/
coverage/

.vscode/
.cache/

# Log files
lerna-debug.log

# Environment Variables
.env
.env.production

# gatsby-source-nacelle
examples/gatsby-source-nacelle/*/nacelle-fragments/*.graphql
